html, body {
    height: 100%;
    width: 100%;
}

#adminLinks {
    height: 100%;
}

#main-container {
    height: 100%;
}

#submitButton {
    display: none;
}

.addQty {
    width: 30px;
}

#miniwrapper {
    width: 100px;
}