html, body {
    height: 100%;
    width: 100%;
}

#adminLinks {
    height: 100%;
}

#main-container {
    height: 100%;
}

#submitButton {
    display: none;
}

.addQty {
    width: 30px;
}

#miniwrapper {
    width: 100px;
}

#active-link {
    text-decoration: none;
    color: rgba(180, 180, 180, 0.5);
}

#active-link:hover {
    color: white;
}

#inactive-link {
    text-decoration: none;
    color: white;
}

#inactive-link:hover {
    color: rgba(180, 180, 180, 0.5);
}